[Desktop Entry]
Type=Application
Version=1.0
Name=Liquid War
Comment=A unique multiplayer wargame
Categories=Game;ArcadeGame;
TryExec=liquidwar
Exec=liquidwar
Icon=liquidwar
Terminal=false
