[Desktop Entry]
Version=1.0
Encoding=UTF-8

Name=Liquid War
#Name[fr]=French translation of Name

Comment=A unique multiplayer wargame
#Name[fr]=French translation of Comment

Type=Application
Categories=Application;Game;ArcadeGame;

TryExec=liquidwar
Exec=liquidwar
FilePattern=liquidwar

Icon=liquidwar.xpm
Terminal=false
