*~
autom4te.cache
config.log
config.status
configure
liquidwar/data/back/back.dat
liquidwar/data/back/lw5back.converted.pcx
liquidwar/data/back/palette.pcx
liquidwar/data/font/font.dat
liquidwar/data/font/palette.pcx
liquidwar/data/liquidwar.dat
liquidwar/data/map/*.map
liquidwar/data/map/map.dat
liquidwar/data/maptex/*.bmp
liquidwar/data/maptex/maptex.dat
liquidwar/data/maptex/*.pcx
liquidwar/data/maptex/*.tex
liquidwar/data/music/music.dat
liquidwar/data/sfx/sfx.dat
liquidwar/data/texture/*.pcx
liquidwar/data/texture/*.tex
liquidwar/data/texture/texture.dat
liquidwar/data/water/water.dat
liquidwar/doc/html/*.html
liquidwar/doc/man/*.6
liquidwar/doc/man/*.6.gz
liquidwar/doc/man/*.man
liquidwar/doc/texi/begin.texi
liquidwar/doc/tex/liquidwar.tex
liquidwar/doc/txt/*.txt
liquidwar/misc/liquidward
liquidwar/misc/liquidwar.nsi
liquidwar/misc/macosx_info.plist
liquidwar/src/liquidwar
liquidwar/src/liquidwar-mapgen
liquidwar/src/liquidwar-server
liquidwar/utils/liquidwarcol
liquidwar/utils/liquidwarmap
liquidwar/utils/liquidwartex
Makefile
Makefile.dep
*.o
*.pyc
*.tar.gz

